#quickEditBox {
	font-family: monospace
}

.editor-txt {
	height: 300px;
	width: 100%;
	margin-bottom: 10px;
	font-family: monospace;
	box-sizing: border-box;
}

.card-content {
	margin: auto;
	text-align: center;
}

.card-container {
	position: relative;
	padding: 20px 20px;
	width: 440px;
	height: 250px;
	margin: 10px auto;
}

.editor-container {
	position: relative;
	width: 480px;
	margin: 10px auto;
}
.editor-container button {
	width: 218px;
	margin: 0px auto;
}

.card {
	display: flex;
	height: 100%;
	width: 80%;
	margin: 0px 10%;
}
.card-content-container {
	position: relative;
	display: flex;
	height: 200px;
}
.right-arrow-btn {
	position: absolute;
	height: 100%;
	width: 10%;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
.right-arrow-btn:hover {

}
.right-arrow {
	position: absolute;
	top: 50%;
	left: 50%;
}
.left-arrow-btn {
	position: absolute;
	height: 100%;
	width: 10%;
	top: 0px;
	left: 0px;
	cursor: pointer;
}
.left-arrow {
	position: absolute;
	top: 50%;
	right: 50%;
}

/*
.right-arrow {
	display: block;
	position: absolute;
	top: 0px;
	height: 100%;
	right: 0px;
}

.left-arrow {
	display: block;
	position: absolute;
	top: 0px;
	height: 100%;
	left: 0px;
}
*/